
.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px; /* Adjust spacing between items */
    justify-content: center; /* Center align the grid */
    padding: 20px; /* Add padding around the grid */
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.category:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.category h2 {
    font-size: 1em;
    margin: 0;
}

/* Responsive layout */
@media (max-width: 1200px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .categories {
        grid-template-columns: 1fr;
    }
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.item-link {
    text-decoration: none;
    color: inherit;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.item p {
    font-size: 1em;
    margin-bottom: 10px;
}

.item-date {
    font-size: 0.9em;
    color: #666;
}
