{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="categories">
      {{ range $key, $value := .Site.Data.categories }}
        {{ $image := resources.Get $value.image }}
        <a href="/{{ $value.slug }}" class="category">
          {{ if $image }}
            <img src="{{ $image.Permalink }}" alt="{{ $key }}">
          {{ end }}
          <h2>{{ $key }}</h2>
        </a>
      {{ end }}
    </div>
    <div class="homepage-content">
      {{ .Content }}
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>
{{ end }}